:root {
    /* CONSTANTS */
    --us-letter-page-width: 8.5in;
    --us-letter-page-height: 11in;
    /* VARIABLES */
    --scale-factor-for-printing-to-pdf: 0.9;
    --left-padding-min: 36pt;
    --right-padding-min: var(--left-padding-min);
    --mobile-left-padding-min: 18pt;
    --mobile-right-padding-min: 36pt;
    /* Set the max width of the centered page such that, when printing to a US Letter PDF with the
        given scale factor, the main column will have the same character width as on-screen. */
    --centered-page-width-max: calc(var(--us-letter-page-width) / var(--scale-factor-for-printing-to-pdf) - var(--left-padding-min) - var(--right-padding-min));
    --left-column-width: 2in;
    --inter-column-padding: 36pt;
    --font-scale: 85.5%;
    --line-height: 130%;
    --primary-font: Inter, sans-serif;
    --header-padding-top: 18pt;
    --info-item-margin: 2pt;
    --title-font: var(--primary-font);
    --title-font-size: xxx-large;
    --title-letterspacing: 2pt;
    --subtitle-margin-top: 2pt;
    --subtitle-font: var(--primary-font);
    --subtitle-font-size: medium;
    --subtitle-letterspacing: 1.6pt;
    --header-padding-bottom: 18pt;
    --gradient-line-width: 4pt;
    --heading-font: IBM Plex Mono, monospace;
    --heading-letterspacing: 2pt;
    --heading-margin-top: 18pt;
    --heading-margin-bottom: 6pt;
    --entry-heading-margin-top: 12pt;
    --entry-subheading-margin-top: 1pt;
    --entry-subheading-margin-bottom: 8pt;
    --bulleted-item-margin: 6pt;
    --bottom-padding: 18pt;
    --footer-padding: 36pt;
    --page-number-padding: 6pt;
    --accent-color-1: #155799;
    --accent-color-2: #159957;
    /* Light Mode */
    --main-background-color: #ffffff;
    --side-bar-color: #eeeeee;
    --text-color: #000000;
}

@media print {
    @page {
        margin: 0;
    }

    body {
        zoom: 0.9;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        /* Dark Mode */
        --main-background-color: #000000;
        --side-bar-color: #111111;
        --text-color: #cccccc;
    }
}

body {
    margin: 0;
    background-color: var(--main-background-color);
    line-height: var(--line-height);
    font-size: var(--font-scale);
    font-family: var(--primary-font);
    color: var(--text-color);
}

.outer-container {
    min-height: calc(max(100vh, var(--us-letter-page-height) / var(--scale-factor-for-printing-to-pdf)));
    display: flex;
    flex-direction: row;
}

.outer-container .left-padding {
    flex: 1 0 var(--left-padding-min);
    background-color: var(--side-bar-color);
}

.outer-container .right-padding {
    flex: 1 0 var(--right-padding-min);
    background-color: var(--main-background-color);
}

.outer-container .centered-page {
    flex: 0 1 var(--centered-page-width-max);
}

@media (max-width: 723px) {
    :root {
        --left-padding-min: var(--mobile-left-padding-min);
        --right-padding-min: var(--mobile-right-padding-min);
    }
}

@media (min-width: 724px) {
    .outer-container .centered-page {
        display: grid;
        grid-template-areas:
            "top-left top-right"
            "gradient-line gradient-line"
            "main-left main-right"
            "bottom-gradient-line bottom-gradient-line"
            "bottom-left bottom-right";
        grid-template-columns: var(--left-column-width);
        grid-template-rows: min-content min-content 1fr min-content min-content;
    }
}

.outer-container .centered-page .top-left {
    grid-area: top-left;
    background-color: var(--side-bar-color);
    padding-top: var(--header-padding-top);
    padding-right: calc(var(--inter-column-padding) / 2);
    align-content: center;
    padding-bottom: var(--header-padding-bottom);
}

.outer-container .centered-page .top-left ul {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.outer-container .centered-page ul.top-left li:not(:first-child):not(:last-child) {
    margin-top: var(--info-item-margin);
    margin-bottom: var(--info-item-margin);
}

.outer-container .centered-page .top-right {
    grid-area: top-right;
    background-color: var(--main-background-color);
    padding-top: var(--header-padding-top);
    padding-left: calc(var(--inter-column-padding) / 2);
    align-content: center;
    padding-bottom: var(--header-padding-bottom);
}

.outer-container .centered-page .top-right .title {
    line-height: 100%;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--title-letterspacing);
}

.outer-container .centered-page .top-right .subtitle {
    margin-top: var(--subtitle-margin-top);
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-font-size);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--subtitle-letterspacing);
}

.gradient-line {
    grid-area: gradient-line;
    height: var(--gradient-line-width);
    background-image: linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -o-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -moz-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -webkit-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -ms-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, var(--accent-color-1)), color-stop(1, var(--accent-color-2)));
}

.outer-container .centered-page .main-left {
    grid-area: main-left;
    background-color: var(--side-bar-color);
    padding-right: calc(var(--inter-column-padding) / 2);
    padding-bottom: var(--bottom-padding);
}

.outer-container .centered-page .main-right a {
    color: var(--accent-color-2);
}

.outer-container .centered-page .main-right {
    grid-area: main-right;
    background-color: var(--main-background-color);
    padding-left: calc(var(--inter-column-padding) / 2);
    padding-bottom: var(--bottom-padding);
}

.outer-container .centered-page .heading {
    text-transform: uppercase;
    letter-spacing: var(--heading-letterspacing);
    font-family: var(--heading-font);
    padding-top: var(--heading-margin-top);
    margin-bottom: var(--heading-margin-bottom);
}

.outer-container .centered-page .heading.left-heading:after {
    margin-top: var(--heading-margin-bottom);
    content: "";
    display: block;
    border: 1pt solid var(--accent-color-1);
}

.outer-container .centered-page .heading.right-heading:after {
    margin-top: var(--heading-margin-bottom);
    content: "";
    display: block;
    border: 1pt solid var(--accent-color-2);
}

.outer-container .centered-page ul {
    margin-top: var(--bulleted-item-margin);
    margin-bottom: 0;
    padding-left: 1.75em;
    list-style-type: disc;
}

.outer-container .centered-page ul.padded-list li {
    margin-top: var(--bulleted-item-margin);
    margin-bottom: var(--bulleted-item-margin);
}

.outer-container .centered-page ul.unpadded-list li {
    margin-top: 0;
    margin-bottom: 0;
}

.outer-container .centered-page .entry-heading {
    display: flex;
    margin-top: var(--entry-heading-margin-top);
}

.outer-container .centered-page .entry-heading .left {
    flex: 1 1 auto;
    margin-right: 12pt;
    font-weight: bold;
}

.outer-container .centered-page .entry-heading .right {
    flex: 0 1 auto;
    text-align: right;
}

.outer-container .centered-page .entry-subheading {
    display: flex;
    margin-top: var(--entry-subheading-margin-top);
    margin-bottom: var(--entry-subheading-margin-bottom);
}

.outer-container .centered-page .entry-subheading .left {
    flex: 1 1 auto;
    margin-right: 12pt;
    font-style: italic;
}

.outer-container .centered-page .entry-subheading .right {
    flex: 0 1 auto;
    text-align: right;
}

.bottom-gradient-line {
    grid-area: bottom-gradient-line;
    height: var(--gradient-line-width);
    background-image: linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -o-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -moz-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -webkit-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -ms-linear-gradient(left, var(--accent-color-1) 0%, var(--accent-color-2) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, var(--accent-color-1)), color-stop(1, var(--accent-color-2)));
}

.outer-container .centered-page .bottom-left {
    grid-area: bottom-left;
    background-color: var(--side-bar-color);
    padding-bottom: var(--footer-padding);
}

.outer-container .centered-page .bottom-right {
    grid-area: bottom-right;
    background-color: var(--main-background-color);
    padding-top: var(--page-number-padding);
    text-align: right;
}